*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;  
}


.button {
  padding: 12px 28px;
  font-size: 18px;
  background: #4b7bec;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}