*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color:#344151;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;     
}


.head{
    color: #0398d4;
    font-weight: 600;
    font-size: 1.7rem;
}


.counterbox{
  background-color: white;   
  display: flex;               
  justify-content: center;    
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-radius: 3px;
  color: #344151;
  border: 1px solid #e5e5e5;
    width: 250px;       
}


.decreasebutton{
  background-color: white;
  border: none;
  border-right: 2px solid #bfbfbf;
  width: 70px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.countdisplay{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 20px;
}

.increasebutton{
    background-color: white;
    border: none;
  border-left: 2px solid #bfbfbf;
  width: 70px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}


.resetbutton{
    background-color: #0398d4;
    color: white;
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #027bb0;
}