*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.box{
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 20px;
}