body {
    margin: 0;
    padding: 0;
    background-color: #0f172a; 
}
.app-root {
    min-height: 100vh;          
    display: flex;            
    flex-direction: column;     
    background-color: #0f172a;  
}
.app-container {
    width: 100%;
    background-color: #0f172a;  
}
.content-area {
    width: 100%;              
    max-width: 1200px;        
    min-height: 50vh;         
    margin-left: auto;        
    margin-right: auto;
    display: flex;            
    flex-wrap: wrap;           
    justify-content: center;   
    align-items: center;      
}
