.filter-bar {
    width: 92%;                 
    margin-left: auto;         
    margin-right: auto;
    display: flex;              
    flex-wrap: wrap;            
    justify-content: center;    
    padding-top: 16px;         
    padding-bottom: 16px;
    gap: 16px 0px;             
    column-gap: 16px;           
    max-width: max-content;     
}
.filter-btn {
    font-size: 1.125rem;        
    padding: 4px 8px;          
    border-radius: 8px;         
    font-weight: 500;           
    color: white;               
    background: rgba(0,0,0,0.40);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease; 
}
.filter-btn:hover {
    background: rgba(0,0,0,0.50); 
}
.filter-btn.active {
    background: rgba(255,255,255,0.95);
    border-color: white;
    color: #222;
}
