.navbar {
    background-color: #1f2937; 
    padding-top: 16px;         
    padding-bottom: 16px;
}
.navbar-title {
    text-align: center;        
    font-size: 1.875rem;      
    font-weight: 700;          
    color: white;             
}
