<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="t1">
        <div class="t2">

            <h2>LOGIN</h2>

            <form action="">

                <div class="input-box">
                    <input type="email" placeholder="Email" required>
                </div>

                <div class="input-box">
                    <input type="password" placeholder="........." required/>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" >Remember me</label>
                </div>

                <button type="submit" class="btn">LOGIN</button>
                <p>or login with</p>

                <div class="logo">
                    <button>Facebook</button>
                    <button>Google</button>
                </div>

                <p class="para">Not a member? <a href="">Sign up now</a></p>
            </form>
        </div>
       
    </section>
</body>
</html>