.new-product_controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
}

.new-product_control lable { /* Note: This is likely a typo for 'label' */
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-product_control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-product_button {
  text-align: center;
  width: 100%;
}
