*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #e91e63, #3f51b5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.input-box{
    height: 1rem;
}
.t2{
    background-color: #3f51b5;
    padding: 40px 50px;
    border-radius: 10px;
    width: 550px;
    height: 350px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}
.t2 h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}