*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title{
  border: 7px dashed #0111a0;
  border-radius: 20px;
  font-size: 3rem;
  margin: 6vh;
  padding: 1vh 5vw;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.card{
  flex: 0 1 calc(29% - 2rem);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image{
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.tourInfo{
  margin: 20px 5px;
  text-align: center;
}

.tourPrice{
  color: #1faa59;
  font-size: 1.3rem;
  font-weight: bold;
}

.tourName{
  font-size: 1.5rem;
  margin: 8px 0;
}

.readMore{
  color: #12b8c8;
  cursor: pointer;
  font-weight: bold;
}

.btnRed{
  margin-top: 18px;
  padding: 10px 80px;
  border: 1px solid #b4161b;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background: #b4161b21;
  color: black;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.btnRed:hover{
  background-color: red;
  color: white;
}

.refresh{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnWhite{
  margin-top: 18px;
  padding: 10px 80px;
  border: 2px solid darkgray;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  cursor: pointer;
  border-radius: 5px;
  font-size: medium;
  transition: all 0.2s ease;
}

.btnWhite:hover{
  background-color: #fff;
  color: #000;
}

@media (max-width: 900px){
  .card{
    flex: 0 1 calc(50% - 2rem);
  }
}

@media (max-width: 500px){
  .card{
    flex: 0 1 100%;
  }

  .title{
    font-size: 2rem;
    text-align: center;
  }
}
