@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
    font-family: pooppins, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size:2rem;
    margin:7vh;
    border:7px dashed rgb(1,17,160);
    border-radius: 20px;
    padding: 2vh;
}
.cards{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;

}
.card{
    width: 330px;
    height: max-content;
    margin: 1rem;
    padding:  1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image{
    width: 310px;
    aspect-ratio:1/1 ;
    object-fit: cover;
}
.tour-info{
    margin: 20px 5px;

}
.tour-price{
    color: #1faa59;
    font-size: 1.3rem;
}
.tour-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.read-more{
    color: #12b0e8;
    cursor: pointer;
}
.button-red{
    margin-top: 18px;
    padding: 10px 80px;
    border: 1px solid #b4161b;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;
}
.button-red:hover{
    background-color: red;
    color: white;
    transition: all 0.2s;
}
.refresh{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.refresh-button{
    margin-top: 18px;
    padding: 10px 80px;
    border: 1px solid white;
    cursor: pointer;

}
.refresh-button:hover{
    background-color: white;
    color: black;
    transition: all 0.2s;
}

